[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
langchain-ollama = "*"
selenium = "*"
beautifulsoup4 = "*"
lxml = "*"
html5lib = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.5"
